
.root {
    display: flex;
}

.container {
    margin: auto;
    max-width: 80%;
}

.add-service-form {
    display: flex;
    margin-top: 1rem;
}

.btn {
    color: #fff;
    background-color: #39cfba;
    border: 0;
    font-weight: 700;
    padding: .5rem;
    font-size: 1rem;
    box-sizing: border-box;
    margin: .5rem .5rem .5rem 0;
    border-radius: 6px;
    box-shadow: 1px 1px 2px dimgray;
}

.btn:hover {
    color: #fff;
    background-color: #259787;
    cursor: pointer;
}

.btn:active {
    color: #fff;
    background-color: #259787;
    cursor: pointer;
    box-shadow: 0px 0px 2px dimgray;
}

.btn:focus {
    outline:0;
}

.services-list {
    padding: 0;
    margin-top: 1rem;
}

.services-list li {
    transition: all 0.4s ease-out;
    opacity: 0;
}

.services-list li.show {
    opacity: 1;
  }

li {
    list-style: none;
    height: 0;
    line-height: 2em;
    margin: 0;
    padding: .5em 0 2.5em .5rem;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #39cfba;
    border-radius: 6px;
    display: flex;
}

li.show {
    height: 2em;
    margin: 2px 0;
}

.item-service-name {
    font-weight: 700;
}

.item-service-url {
    color: lightslategray;
}

.service-info {
    flex: 1;
}

.status-icon {
    font-size: 2rem;
    margin-right: .5rem;
}

.status-ok {
    color: #39cfba;
}

.status-fail {
    color: crimson;
}

